{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html><html class=''>
<head>
	
	<script type="text/html" src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
	<script type="text/html" src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
	<script type="text/html" src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
	<meta charset='UTF-8'>
	<meta name="robots" content="noindex">
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script type="text/html" src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>


<link rel='stylesheet' href="{% static 'style.css'%}">

</head>
<body>
	

<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="{{contact.profile_pic.url}}" class="online fa fa-chevron-down expand-button" aria-hidden="true"/>
				<p>{{contact.name}}</p>
				<div id="expanded">
					
					<a href="{% url 'account'  %}"><input type="button" value="Profile" /></a>
					<a href="{% url 'logout'  %}"><input type="button" value="Logout" /></a>
					
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input id="search-room" type="text" placeholder="Search room..." />
		</div>
		<div id="contacts">
			<ul id="list-room">
				{% for room in roomMenu %}
				
				<a href="{% url 'room' room.id %}">
					<li class="contact">
						<div class="wrap">
							<img src="{{room.chatImg.url}}" alt="" />
							<div class="meta">
								<p class="name">{{room.chatName}}</p>
								<p class="preview">{{room.lastMessage}}</p>
							</div>
						</div>
					</li>
				</a>
				
				{% endfor %}
			</ul>

			
		</div>
		<div id="bottom-bar">
			<form method="post" action="{% url 'joinRoom' %}" style="display: none; width: 80%; margin: 0 auto" id="join-form">
				{% csrf_token %}
			<input type="text" placeholder="Room code" name="chatId" style="width:100%;" autocomplete="off">
			<button type="submit" style="width:100%; margin-bottom: 20;">Join</button>
			</form>

			<a href="{% url 'createChat' %}"><button id="addcontact"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> <span>Create chat</span></button></a>
			<button id="join"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Join chat</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img src="{{ chat.chatImg.url }}" alt="" />
			<p>{{chat.chatName}}</p>
			<div class="social-media" style="font-size:25">
				
				<div class="fa dropdown ">
					<i class="fa fa-users" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</i>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left:-400%">
						<p class="dropdown-item">Participants</p>							

						{% for participant in participants %}
						<div class="dropdown-item" style="position: relative;">
							<img style="margin-left: -20;" class="messages chat-log" src="{{ participant.profile_pic.url }}" alt>
							<p style="display: inline; position: absolute; top:300%" href="#">{{participant.name}}</p>

						</div>
						{% endfor %}
						
					</div>
				</div>
				<div class="fa dropdown ">
					<i class="fa fa-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</i>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left:-900%">						
						<div class="dropdown-item" style="position: relative;">
							<p style="cursor: copy" class="dropdown-item" id="room-code" onclick="copyText(this)">Room code: {{chat.id}}</p>							
						</div>
						
					</div>
				</div>
				
				<a href="{% url 'roomSettings' chat.id %}"><i class="fa fa-cog" aria-hidden="true" ></i></a>
			</div>
		</div>
		<div class="messages">
			<ul id="chat-log">
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="chat-message-input" type="text" placeholder="Write your message..."  />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
<script type="text/html" src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>

<script>

    // var roomName = {{ room_name_json }};
	var chatId = {{ chat.id }}
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chatId
            + '/'
        );

		chatSocket.onopen = function(e){
			fetchMessages();
		};

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
			if (data['command'] == 'messages'){
				for (let i = 0; i < data['messages'].length; i++) {
					createMessage(data['messages'][i]);
				}
			} else if (data['command'] == 'new_message'){
				createMessage(data['message'])
			}
        };
        chatSocket.onclose = function(e) {
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            if( messageInputDom.value) {
				const message = messageInputDom.value;
            	chatSocket.send(JSON.stringify({
                'command': 'new_message',
				'chatId': chatId,
                'message': message,
                'from': username
            }));
			}
            messageInputDom.value = '';

			
        };

		function fetchMessages(){
			chatSocket.send(JSON.stringify({
				'command': 'fetch_messages',
				'chatId': chatId
			}));	
		}

		function createMessage(data){
            var contact = data['contact'];
            var sender = document.createElement('small');
			// sender.textContent = contact
            var msgListTag = document.createElement('li');
			var brTag = document.createElement('br');
            var pTag = document.createElement('p');
            pTag.textContent = data.content;
			var timeTag = document.createElement('small');
			time = data['timestamp'];
			time_render = renderTimestamp(time)
			timeTag.textContent = time_render;
            if (contact == username) {
                msgListTag.className = 'sent';
            } else {
				msgListTag.appendChild(sender);
				msgListTag.appendChild(brTag);
				var imgTag = document.createElement('img');
				imgTag.src = data['contactImg'];
                msgListTag.className = 'replies';
				msgListTag.title=data['contactName']
				msgListTag.appendChild(imgTag);
            }
            msgListTag.appendChild(pTag);
			pTag.appendChild(brTag);
			// pTag.appendChild(timeTag);
            document.querySelector('#chat-log').appendChild(msgListTag);
			$(".messages").animate({ scrollTop: $(document).height() }, "fast");

		}

		renderTimestamp = timestamp => {
			let prefix = "";
			const timeDiff = Math.round(
			(new Date().getTime() - new Date(timestamp).getTime()) / 60000
			);
			if (timeDiff < 1) {
			// less than one minute ago
			prefix = "just now...";
			} else if (timeDiff < 60 && timeDiff > 1) {
			// less than sixty minutes ago
			prefix = `${timeDiff} minutes ago`;
			} else if (timeDiff < 24 * 60 && timeDiff > 60) {
			// less than 24 hours ago
			prefix = `${Math.round(timeDiff / 60)} hours ago`;
			} else if (timeDiff < 31 * 24 * 60 && timeDiff > 24 * 60) {
			// less than 7 days ago
			prefix = `${Math.round(timeDiff / (60 * 24))} days ago`;
			} else {
			prefix = `${new Date(timestamp)}`;
			}
			return prefix;
		};
		

		function copyText(element) {
		var range, selection, worked;

		if (document.body.createTextRange) {
			range = document.body.createTextRange();
			range.moveToElementText(element);
			range.select();
		} else if (window.getSelection) {
			selection = window.getSelection();        
			range = document.createRange();
			range.selectNodeContents(element);
			selection.removeAllRanges();
			selection.addRange(range);
			
		}
		
		try {
			document.execCommand('copy');
			alert('text copied');
		}
		catch (err) {
			alert('unable to copy text');
		}
		}

		
</script>

</body>
</html>

